<% provide(:title, '编辑用户') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h2>编辑用户</h2></div>	
			<div class="panel-body">
				<%= form_for :current_user, url: user_path(current_user), method: :patch, html: { class: "form-horizontal", role: "form" } do |f| %>
					<% if @current_user.errors.any? %>
						<ul class="list-group">
						<% @current_user.errors.full_messages.each do |msg| %>
							<li class="list-group-item list-group-item-danger"><%= msg %></li>
						<% end %>
						</ul>
					<% end %>

					<div class="form-group">
						<p class="center"><%= image_tag(current_user.avatar_url) if current_user.avatar? %></p>
						<%= f.label :avatar, "上传头像", class: "col-sm-4 control-label" %>
						<%= f.file_field :avatar, class: "col-sm-8" %>
						<%= f.hidden_field :avatar_cache %>
					</div>

					<div class="form-group">
						<%= f.label :name, '用户名', class: "col-sm-3 control-label" %>
						<div class="col-sm-8">
							<%= f.text_field :name, class: "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :email, 'email', class: "col-sm-3 control-label" %>
						<div class="col-sm-8">
							<p class="form-control-static"><%= current_user.email %></p>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :password, '密码', class: "col-sm-3 control-label" %>
						<div class="col-sm-8">
							<%= f.password_field :password, class: "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :password_confirmation, '确认密码', class: "col-sm-3 control-label" %>
						<div class="col-sm-8">
							<%= f.password_field :password_confirmation, class: "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.submit '提交用户信息', class: "btn btn-primary col-sm-offset-4" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
