<% provide(:title, '用户列表') %>
<div class="row">
	<div class="col-md-8">
		<div class="page-header"><h1>用户列表</h1></div>
		<div class="row list-group">
			<% if @users.any? %>
				<% @users.each do |user| %>
					<div class="col-md-4 users-list">
						<li class="list-group-item">
							<div class="center">
								<p><%= image_tag user.avatar.thumb %></p>
								<h3><%= link_to user.name ,user_path(user) %></h3>
								<p>Email: <%= user.email %></p>
								<p>发表文章 <%= link_to user.posts.count, user_path(user) %> 篇</p>
								<small>用户创建于 <%= time_tag user.updated_at %></small>
							</div>
						</li>
					</div>
				<% end %>
				<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
			<% end %>
		</div>
		
	</div>
	<%= render 'layouts/sidebar' %>
</div>

