<% provide(:title, @user.name) %>
<h3>文章列表</h3>
<div class="row">
	<div class="col-md-8">
		<% if @user.posts.any? %>
			<ul class="list-group">
				<% @user.posts.each do |post| %>
					<li class="list-group-item"><h3><%= link_to post.title, post_path(post) %></h3>发布于 <%= time_tag post.updated_at %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">会员信息</div>
			<div class="panel-body center">
				<h1><%= @user.name %></h1>
				<h3><%= @user.email %></h3>
				<br>
				<h4><%= link_to '撰写新文章', new_post_path %></h4>
			</div>
		</div>
	</div>

</div>