<% provide(:title, @user.name) %>
<% flash.each do |name, msg| %>
	<div class="alert alert-<%= name %>"><%= msg %></div>
<% end %>
<div class="row">
	<h3>文章列表</h3>
	<div class="col-md-8">
		<% if @user.posts.any? %>
			<ul class="list-group">
				<% @user_posts.each do |post| %>
					<li class="list-group-item">
						<h3><%= link_to post.title, post_path(post) %></h3>
						发布于 <%= time_tag post.updated_at %> 
						<% if post.user == current_user %>
							<%= link_to '删除', post_path(post), method: :delete, data: { confirm: "确认删除？" } %>
						<% end %>
					</li>
				<% end %>
				<%= will_paginate @user_posts, renderer: BootstrapPagination::Rails %>
			</ul>
		<% end %>
	</div>
	<%= render 'layouts/sidebar' %>
</div>